<!DOCTYPE html>
<html>
<head>
	<title>Backend coding challenge</title>
</head>
<body>
	<h1> Create a new user in the database </h1>
	<form action="/addRecord" method="POST">
		<h2> User Information</h2>
		ID <br>
		<input type="number" name="id"/> <br>
		first_name <br>
		<input type="text" name="first_name"> <br>
		last_name <br>
		<input type="text" name="last_name"> <br>
		company_name <br>
		<input type="text" name="company_name"> <br>
		city <br>
		<input type="text" name="city"> <br>
		state <br>
		<input type="text" name="state"> <br>
		zip <br>
		<input type="number" name="zip"/> <br> 
		email <br>
		<input type="text" name="email"> <br> 
		web <br>
		<input type="text" name="web"> <br> 
		age <br>
		<input type="number" name="age"/> <br>	
		<input type="submit" value="addRecord" />
	</form>
	<br>
	<h2><a href = "\">go back to home page</a></h2>
</body>
</html>