<!DOCTYPE html>
<html>
<head>
	<title>Backend coding challenge</title>
</head>
<body>
	<h1> Welcome to API page for interacting with a database of users </h1>
	<br>
	<button>
		<a href="/getAll">Get all Users</a>
	</button>
	<br><br><br>
	<button>
		<a href="/modifiedGet">Get User by Parameter</a>
	</button>
	<br><br><br>
	<button>
		<a href="/createUser">Create a new user</a>
	</button>
	<br><br><br>
	<button>
		<a href="/updateUser">Update a user</a>
	</button>
	<br><br><br>
	<button>
		<a href="/deleteUser">Delete a user</a>
	</button>
</body>
</html>