<!DOCTYPE html>
<html>
<head>
	<title>Backend coding challenge</title>
</head>
<body>
	<h1> Update a user in the database </h1>
	<form action="/updateRecord" method="POST">
		<h2> User Information</h2>
		ID <br>
		<input type="number" name="id"/> <br>
		first_name <br>
		<input type="text" name="first_name"> <br>
		last_name <br>
		<input type="text" name="last_name"> <br>
		<input type="submit" value="updateRecord" />
	</form>
	<br>
	<h2><a href = "\">go back to home page</a></h2>
</body>
</html>